{% extends 'insurance/sinister/skeleton_page/baseSinistre.html.twig' %}

{% block body %}
    <div class="style-form-login  col-xl-5 col-md-10">

        <h1>Pas d'expertises liés</h1>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

