{% extends 'insurance/sinister/skeleton_page/baseSinistre.html.twig' %}

{% block body %}
    <div class="col-xl-3 col-sm-6 mb-4">
        <a href="{{ path('home-sinister') }}">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body supp_pad">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-folder"></i>
                    </div>
                    <div class="mr-5">Retour</div>
                </div>
            </div>
        </a>
    </div>
    <h1>Paramétres des dossiers : </h1>

{% endblock %}
