{% extends 'insurance/sinister/skeleton_page/baseSinistre.html.twig' %}

{% block body %}
<div class="card">
    <div class="card-header bg-info d-flex justify-content-between">
        <h4 style="color: white"><i class="fas fa-list-ul"></i> Liste des dossiers en attente de validation: </h4>
    </div>
    <div class="col-xl-3 col-sm-6 mb-4 " style="margin-top: 50px">

    </div>
    <div class="container">
            <table class="table" id="validatorFolder">
                <thead>
                <tr>
                    <th>Référence de dossier</th>
                    <th>Type de dossier</th>
                    <th>matricule de véhicule</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('listFolder') }}
    {{ encore_entry_script_tags('dataTabes') }}


{% endblock %}

