<h3>Bonjour {{ user.firstName }} {{ user.lastName }}</h3>
<p>Bienvenue dans TalanAssurance</p>
<p>Vous avez demandé de modifier votre mot de passe </p>
<p>Veuillez clicker <a href="{{ url('check-reset', {'token': token}) }}">ICI</a> pour confirmer la réinitialisation</p>
<p>Cordialement,</p>
<p>Assurance</p>