<h3>Bonjour {{ user.firstName }} {{ user.lastName }}</h3>
<p>Bienvenue dans TalanAssurance</p>
<p>Vous avez demandé de modifier votre mot de passe </p>
<p>Voici votre nouveau mot de passe : <strong>{{ password }}</strong></p>
<p>Cordialement,</p>
<p>Assurance</p>